@{
    ViewData["Title"] = "Fala Mais";
}


<div class="text-center col-sm-6 offset-sm-3" id="app">
    <h5 class="">Calcula o Valor do Consumo</h5>
    <form>
        <div class="form-group">
            <label for="">Plano Fala Mais?</label>
            <select class="form-control" v-model="is_fala_mais">
                <option value="1">Sim</option>
                <option value="0">Não</option>
            </select>
        </div>
        <div v-if="is_fala_mais === '1'">
            <div class="form-group">
                <label for="">Escolha o Plano</label>
                <select class="form-control" v-model="plano">
                    <option value="30">Fala Mais 30</option>
                    <option value="60">Fala Mais 60</option>
                    <option value="120">Fala Mais 120</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="">Origem</label>
            <select class="form-control" id="" v-model="origem" v-on:change="eventReturnDestino">
                <option v-for="option in options" v-bind:value="option">
                    {{ option }}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Destino</label>
            <select class="form-control" id="" v-model="destino">
                <option v-for="option_destino in options_destino" v-bind:value="option_destino">
                    {{ option_destino }}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Tempo</label>
            <input class="form-control" id="" min="0" type="number" v-model="tempo">
        </div>
        <div v-if="is_fala_mais === '1'">
            <h4 class="">Com Fala Mais Até {{plano}} Minutos</h4>
            <h4 class="">O Valor Origem e Destino: {{preco}}</h4>
            <h4 class="">Valor da Simulação: {{resultado}}</h4>
        </div>
        <div v-if="is_fala_mais === '0'">
            <h4 class="">Sem Fala Mais</h4>
            <h4 class="">O Valor Origem e Destino: {{preco}}</h4>
            <h4 class="">Valor da Simulação: {{resultado}} </h4>
        </div>
    </form>
</div>

@section Scripts{

    <script src="~/js/falamais.js"></script>
}